{
	auto_https off
	admin off
}

:{$PORT:80} {
	@api host api-test.reage.life
	handle @api {
		reverse_proxy https://ilxgodhosirhhkffqryw.supabase.co {
			header_up Host ilxgodhosirhhkffqryw.supabase.co
			header_up -Accept-Encoding
			transport http {
				tls
				tls_server_name ilxgodhosirhhkffqryw.supabase.co
				keepalive 60s
				keepalive_idle_conns 64
				versions h2 1.1
			}
		}
	}

	handle {
		root * /usr/share/caddy
		try_files {path} /index.html
		file_server
	}
}
