global
    log stdout format raw local0
    maxconn 4096

defaults
    mode http
    log global
    option httplog
    option dontlognull

    timeout connect 30s
    timeout client 300s
    timeout server 300s
    timeout http-request 30s
    timeout http-keep-alive 60s

frontend http_in
    bind *:80

    acl host_api hdr(host) -i api-test.reage.life
    use_backend supabase_backend if host_api

    default_backend react_frontend

backend react_frontend
    server frontend 127.0.0.1:8080

backend supabase_backend
    http-request set-header Host ilxgodhosirhhkffqryw.supabase.co
    http-request del-header Accept-Encoding

    server supabase ilxgodhosirhhkffqryw.supabase.co:443 ssl sni str(ilxgodhosirhhkffqryw.supabase.co) verify none
